:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.html | App.tsx base styles ????????????? */
.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
body {
  color: #fff;
  @apply bg-slate-950;
}